body {
	background: url(background_owneraccount.jpg) no-repeat center center fixed;
	background-size: cover;
}

.well {
	background-color: rgba(255, 255, 255, 0.8);
	margin-top:10px;
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.underline {
	text-decoration: underline;
	transition: border-color 3.3s ease-in-out;
}

.underline:hover {
	border-color: #000; /* Update with desired color */
}

.col-centered {
	float: none;
	margin: 0 auto;
}

@media screen and (max-width: 356px) {
	#DELETEPROFILEBTN {
		margin-top: 10px;
	}
}
